body {
    font-family: Roboto;
    margin: 2% 10%;
    background: url(/images/backcover.svg)no-repeat;
    background-size: 45%;
    background-position: right top;
    overflow: hidden;
}



/* ----------------------- */
/* -----Navbar------------ */
/* ----------------------- */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.nav-icon {
    width: 35px;
    display: none;
}

.part1 {
    width: 100px;
}

.part2 {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}

.nav-item {
    color: #3e4794;
    font-size: 0.9rem;
    transition: all 300ms ease-in-out;
}

.nav-item:hover {
    cursor: pointer;
    color: #ee88db;
}

.signin-btn {
    color: #fff;
    font-family: Roboto;
    font-size: 0.9rem;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #9869f2, #ee88db);
    padding: 0.3em 1.2em;
    margin-right: 12%;
    transition: all 300ms ease-in-out;
}

.signin-btn:hover {
    color: #ee88db;
    background: #fff;
    cursor: pointer;
}

/* ----------------------- */
/* -----Intro-section----- */
/* ----------------------- */


.intro-section {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: hidden;
}

.left-section {
    width: 40vw;
    margin: 6% 0 0 0;
}

.left-section>h1 {
    font-size: 3em;
    color: #3e4794;
    margin-bottom: 10%;
}

.left-section>h4 {
    color: #adafc1;
}


.learn-more-btn {
    color: #fff;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: bolder;
    border-radius: 25px;
    border: none;
    background: linear-gradient(90deg, #9869f2, #ee88db);
    padding: 0.5em 1.2em;
    margin-top: 5%;
    transition: all 300ms ease-in-out;
    position: absolute;
}

.learn-more-btn:hover {
    border: 2px solid #ee88db;
    color: #ee88db;
    background: #fff;
    cursor: pointer;
    cursor: pointer;
}

.dev_img {
    width: 45%;
    position: absolute;
    top: 20%;
    right: 5%;
}

.vector-img {
    position: absolute;
    left: 40%;
}

.vector-dot {
    position: absolute;
    left: 45%;
}


/* BREAKPOINT FOR SMALL-SCREEN LAPTOPS */

@media (max-width:1024px) {
    html {
        font-size: 12px;
    }

    body {
        background-size: 55%;
    }
}


/* BREAKPOINT FOR TABLETS */
@media (max-width:768px) {
    html {
        font-size: 9px;
    }

    .part1 {
        width: 70px;
    }

    .part2 {
        gap: 1rem;
    }

    .vector-img {
        width: 10%;
    }

    .vector-dot {
        width: 2%;
    }

}


/* BREAKPOINT FOR MOBILE */
@media (max-width:480px) {
    body {
        /* background: rgba(181, 183, 202, 0.671); */
        background: url(/images/backcover.svg)no-repeat;
        background-size: 60%;
        background-position: right top;
    }

    nav {
        justify-content: flex-start;
    }

    .nav-icon {
        display: block;
        margin-left: auto;
        width: 25px;
        filter: invert(28%) sepia(13%) saturate(3672%) hue-rotate(201deg) brightness(95%) contrast(89%);
    }

    .part1 {
        filter: invert(28%) sepia(13%) saturate(3672%) hue-rotate(201deg) brightness(95%) contrast(89%);
    }

    .part2 {
        display: none;
    }

    .signin-btn {
        display: none;
    }


    .left-section {
        text-align: center;
        margin: 6% auto;
    }

    .left-section h4 {
        color: #ee88db;
    }

    .learn-more-btn {
        position: static;
        margin-top: 6%;
    }

    .dev_img {
        display: none;
    }

    .vector-img {
        position: absolute;
        left: 68%;
    }

    .vector-dot {
        position: absolute;
        left: 73%;
    }

}